@model ExamTable.Models.section

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Section</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.section_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.section_number)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.student_enrolled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_enrolled)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.is_deleted)
        </dt>

        <dd>
            @{ string temp = (bool)Model.is_deleted ? "Not Current" : "Current";}
            @temp
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_on)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_on)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modified_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modified_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modified_on)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modified_on)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.course.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.faculty.fullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.faculty.fullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.program.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.program.title)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
