@model IEnumerable<ExamTable.Models.section>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.section_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student_enrolled)
        </th>
        <th>
            Course Name
        </th>
        <th>
            Faculty Name
        </th>
        <th>
            Program Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.section_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.student_enrolled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.course.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.faculty.first_name) @Html.DisplayFor(modelItem => item.faculty.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.program.title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
