@model IEnumerable<ExamTable.Models.room>

@{
    ViewBag.Title = "Room";
}

<h2>Room</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.room_type.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_deleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.room_type.type)
        </td>
        <td>
            @{ string temp = (bool)item.is_deleted ? "Not Available" : "Available";}
            @temp
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) @*|
            @Html.ActionLink("Delete", "Delete", new { id = item.id })*@
        </td>
    </tr>
}

</table>
