@model ExamTable.Models.exam_timetable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exam Timetable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.version_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.version_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.program_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.program_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.program_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.program_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.course_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.course_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.course_hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course_hours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.section_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.section_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.have_final_exam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.have_final_exam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.final_exam_note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.final_exam_note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room_request)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_request)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.exam_length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exam_length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weekday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weekday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teacher_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teacher_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proctor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proctor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_deleted)
        </dt>

        <dd>
            @{ string temp = (bool)Model.is_deleted ? "Yes" : "No";}
            @temp
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_on)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_on)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modified_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modified_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modified_on)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modified_on)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
